<h3>LifeCycle demo (@_renderCount)</h3>

<ul>
    <li><b>Id</b>: @_id</li>
    <li><b>Message</b>: @Message</li>
    <li><b>Initialized at</b>: @_initializedAt:HH:mm:ss</li>
</ul>

<button class="btn btn-primary" @onclick="ForceRerender">
    Force re-render
</button>